# Copy this file as .env and update variables to fit your network

# Websocket server address and port
# WS_SERVER is accessed by web clients, so it must be a global
WS_SERVER=1.1.1.1
WS_PORT=5678

# Extractor config
EXTRACTOR_INTERFACE=eth0
EXTRACTOR_PORT=9999
DETECTOR_ADDRESS=127.0.0.1
