#
# Detector config
#

# DETECTOR_ADDRESS is used by the Extractor to send URLDUMP
# messages. The destination port of the URLDUMP messages is
# 9999(udp) as defined by EXTRACTOR_PORT.  The Detector
# publishes the port using the Docker port forwarding.
# Since the Extractor and Detector are hosted on the same
# docker host, the Extractor can reach to that port on
# 127.0.0.1.
#DETECTOR_ADDRESS=127.0.0.1

# Set SLACKWEBHOOK and SLACKCHANNEL if you want to send a message
# to your slack channel
#SLACKWEBHOOK=https://....SLACKCHANNEL
#SLACKCHANNEL=#CHANNEL

#
# Websocket server config
#

# WS_SERVER is accessed by web clients, so it must be a global
WS_HOST=GLOBAL_ADDRESS_OF_YOUR_DOCKER_HOST
#WS_PORT=5678

#
# Extractor config
#

# EXTRACTOR_INTERFACE is a phishcal interface name of the
# docker host to monitor HTTP traffic.
EXTRACTOR_INTERFACE=PHYSICAL_INTERFACE_NAME_TO_MONITOR

# EXTRACTOR_PORT is used as the destination port when sending
# URLDUMP messages to the Detector.
#EXTRACTOR_PORT=9999
